* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.insta-logo {
    margin-bottom: 10px;
}

.container-imagens {
    position: relative;
}

.img-celular {
    width: 450px;
}

.imagem-celular {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: opacity 2s ease-in-out;
}
.replica{
    left:25px;
    width: 215px;
    height: auto;
    transition: none;
}

.container-itens {
    width: 350px;
}

.container-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    padding: 50px 40px 20px 40px;
}

input {
    height: 36px;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px;
    color: #262626;
}
button:hover{
    background: #69c2fd;  
}
button:active{
    background: #007fd3;
}

button {
    
    background: #0095f6;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

.login-facebook {
    color: #385185;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
}

.esqueceu-senha {
    color: #385185;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.container-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-cadastro :active{
    color: #0025c9;
}

.link-cadastro {
    color: #0095f6;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

.paragrafo-conta {
    font-size: 14px;
}

.paragrafo-app {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.conecte-se{
    margin-bottom: 0;
    margin-top: 0;
    color:#0095f6 ;
    text-decoration: underline;
}
.container-app {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logo-app {
    
    width: 150px;
    align-items: center;

}
.redes-sociais{
    display: flex;
    padding: 5px 0 5px 37px;
    border: 5px solid #dbdbdb;
    position: relative;
    top: 10px;
   align-items: center;
}
.liknkedin{
    width: 100px;
}
.whatzapp{
    width: 65px;
}
.github{
width: 114px;
}
